#topics {
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  text-align: center;
}

.topics,
.menu,
.listItem .h5 .singleTopic {
  padding: 1em 0.5em 1em 0.5em;
  text-align: center;
  align-content: center;
  text-align: center;
}
.btn {
  margin: 0.5em;
}
